/ANTRO.docx
/BACKUP
/Cordoba octubre.xlsx
/desktop.ini
/Diseño grafico
/Diseño uxui
/Full Stack developer
/HTML.docx
/Marketing
/Microsoft Edge.lnk
/Poder Judicial
/Presupuesto personal mensual1.xlsx
/Registro de estudios Agustina.docx
/Reglamento con modificacion 10.2021.pdf
/Zoom Workplace.lnk